{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Percentage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <h1>Percentage Data</h1>
        <h2>Price {{price}}</h2>
        <h2>Percentage {{perc}} </h2>
        <h2>Answer {{ans}}</h2>
    
    </body>
</html>